---
import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;

let res = await fetch(`https://wordpress.alanakra.fr/wp-json/wp/v2/posts?slug=${slug}`)
let [post] = await res.json();
console.log(post);
---

<Layout title={`Alan's Lab | ${slug}`}>
    <div class="container">
        <h1>{post.title.rendered}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quae, a fuga aspernatur at aliquam vitae architecto iure quis voluptate!</p>
    </div>
</Layout>