---
import Layout from '../../layouts/Layout.astro';
import dayjs from 'dayjs';

const { slug } = Astro.params;

async function fetchPost() {
    try {
        const res = await fetch(`https://wordpress.alanakra.fr/wp-json/wp/v2/posts?slug=${slug}`);
        const [post] = await res.json();
        if (!post) {
            throw new Error('Post not found');
        }
        return post;
    } catch (error) {
        console.error('Error fetching post:', error);
    }
}

let post = await fetchPost();
---

<Layout title={`Alan's Lab | ${slug}`}>
    {post && (
        <div class="container">
            <h1 set:html={post.title.rendered}></h1>
            <i class="ri-calendar-2-line"></i>
            <p class="date" set:html={dayjs(post.date).format('MMMM D, YYYY')}></p>
            <Fragment set:html={post.content.rendered}></Fragment>
        </div>
    )}

    <style lang="scss">
        .container {
            p {
                font-family: "Roboto",monospace;
                margin-bottom: 1rem;
            }

            .date {
                display: inline-block;
            }
            
            img {
                width: 90%;
                max-width: 400px;
                height: auto;
                border: solid;
            }
        }
    </style>
</Layout>
