---
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";

interface WordPressPost {
    slug: string;
    title: { rendered: string };
    date: string;
    content: { rendered: string };
}

export async function getStaticPaths() {
    try {
        // Récupérer tous les posts depuis WordPress
        const res = await fetch(
            "https://wordpress.alanakra.fr/wp-json/wp/v2/posts",
        );
        const posts = await res.json();

        // Générer un chemin pour chaque post
        return posts.map((post) => ({
            params: { slug: post.slug },
            props: { post },
        }));
    } catch (error) {
        console.error("Error fetching posts:", error);
        return [];
    }
}

const { post } = Astro.props as { post: WordPressPost };
---

<Layout title={`Alan's Lab | ${post.slug}`}>
    <div class="container">
        <h1 set:html={post.title.rendered} />
        <i class="ri-calendar-2-line"></i>
        <p class="date" set:html={dayjs(post.date).format("MMMM D, YYYY")} />
        <Fragment set:html={post.content.rendered} />
    </div>

    <style lang="scss">
        .container {
            p {
                font-family: "Roboto", monospace;
                margin-bottom: 1rem;
            }

            .date {
                display: inline-block;
            }

            img {
                width: 90%;
                max-width: 400px;
                height: auto;
                border: solid;
            }
        }
    </style>
</Layout>
