---
import Layout from '../../layouts/Layout.astro';
import moment from 'moment';

const { slug } = Astro.params;

let res = await fetch(`https://wordpress.alanakra.fr/wp-json/wp/v2/posts?slug=${slug}`)
let [post] = await res.json();
console.log(post);
---

<Layout title={`Alan's Lab | ${slug}`}>
    <div class="container">
        <h1 set:html={post.title.rendered}></h1>
        <p set:html={moment(post.date).format('MMMM D, YYYY')}></p>
        <div class="content" set:html={post.content.rendered}></div>
    </div>
</Layout>

<style lang="scss">
    .content > p {
        color: red !important;
    }
</style>