---
import Layout from '../layouts/Layout.astro';
import moment from 'moment';
const res = await fetch("https://wordpress.alanakra.fr/wp-json/wp/v2/posts");
const posts = await res.json();
---

<Layout title="Alan's Lab">
	<p>This website lists my creative coding projects. <br>
		If these projects seem like crap to you, it's normal I'm barely learning on my own time :) 
	</p>

	<ul class="project-container">
		{
			posts.map((post) => (
			<li>
				<a href={`posts/${post.slug}`}>
					<section>
						<i class="ri-calendar-2-line"></i> <span class="date" set:html={moment(post.date).format('MMMM D, YYYY')}></span>
						<h2 set:html={post.title.rendered} />
						<p set:html={post.excerpt.rendered} />
					</section>
				</a>
			</li>
			))
		}
	</ul>
</Layout>

<style lang="scss">
	a {
		color: black;
		text-decoration: none;
	}

	ul {
		li {
			font-size: 1.25rem;
			font-family: 'Roboto', monospace;
			margin-bottom: 1.5rem;
			section {
				margin-top: 1rem;

				.date {
					margin-bottom: .25rem;
					display: inline-block;
				}
				h2 {
					color: #4B9CD3;
					font-size: inherit;
					font-weight: inherit;
				}
			}
		}
	}
</style>
