---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alan's Lab">
	<div class="container">
		<h1 class="text-gradient">Alan's Lab</h1>
		<p>This website lists my creative coding projects. <br>
			If these projects seem like crap to you, it's normal I'm barely learning on my own time :) 
		</p>
	</div>
</Layout>

<style lang="scss">

</style>
