---
import Layout from '../layouts/Layout.astro';
import dayjs from 'dayjs';
const res = await fetch("https://wordpress.alanakra.fr/wp-json/wp/v2/posts");
const posts = await res.json();
---

<Layout title="Alan's Lab">
	<p class="intro">This website lists my creative coding projects. <br>
		If these projects seem like crap to you, it's normal. I'm barely learning on my own time :) 
	</p>

	<ul class="project-container">
		{
			posts.map((post) => (
			<li>
				<a href={`posts/${post.slug}`}>
					<section>
						<i class="ri-calendar-2-line"></i> <span class="date" set:html={dayjs(post.date).format('MMMM D, YYYY')}></span>
						<h2 set:html={post.title.rendered} />
						<p set:html={post.excerpt.rendered} />
					</section>
				</a>
			</li>
			))
		}
	</ul>
</Layout>

<style lang="scss" scoped>
	a {
		color: var(--text-color);
		text-decoration: none;
	}

	.intro {
		font-family: 'Roboto Mono', monospace !important;
	}

	ul {
		margin-top: 40px;
		li {
			font-size: 1.25rem;
			font-family: 'Roboto', monospace;
			&:not(:last-child) {
				margin: 1rem 0;
				border-bottom: solid var(--text-color) 1px;
			}
			section {
				margin: 1rem 0;

				.date {
					display: inline-block;
				}
				h2 {
					color: var(--alt-color);
					font-size: inherit;
					font-weight: inherit;
				}
			}
		}
	}
</style>
