---

---

<nav>
    <a href="/" class="text-gradient">Alan's Lab</a>

    <ul>
        <li><a href="https://github.com/alanakra"><i class="ri-github-fill"></i></a></li>
        <li><a href="https://codepen.io/alanakra"><i class="ri-codepen-line"></i></a></li>
    </ul>
</nav>

<style lang="scss">
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > a {
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
            font-weight: 800;
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul {
            color: black;
            font-size: 2rem;
            display: flex;
            gap: 24px;

            li {
                a {
                    color: inherit;
                    i {
                        font-size: inherit;
                    }
                }
            }
        }
    }
</style>